@import "tailwindcss";

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.footer {
  padding-bottom: env(safe-area-inset-bottom, 12px); /* fallback */
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
}